<div style="color: white; padding-left: 5%; width: 40%; margin-left: 30%; border-radius: 8px;"><br>
	<h1 style="margin-left: 20%">Editing Movie</h1><br>
</div>
<%= render 'form', movie: @movie %>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>